---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Digital Asset Staking | Validator & Delegate Crypto',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=68d49ea1eaff2dd921be37d2&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
     
    ]}
  
  >
    <Fragment slot="title">
            <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/91904867-6144-4f51-b3b2-34f41b37f8f4/HTIeBdaGsH.lottie" speed="1" style="width: 100%; height: 130px" mode="forward" loop autoplay></dotlottie-wc>
      <span class="hidden xl:inline"> </span>
      <span class="text-accent dark:text-white"> Let's Staking</span> 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Less Risk</span> More Rewards
        </span
       
      >
     
       <div id="debridgeWidget"></div>
<script src="https://app.debridge.finance/assets/scripts/widget.js"></script>
<script>
deBridge.widget({"v":"1","element":"debridgeWidget","title":"Rey.Fan","description":"","width":"600","height":"800","r":"32427","affiliateFeePercent":"1","affiliateFeeRecipient":"0x9043a9757ae62de77c0065f0c039760c1ab92b8e","supportedChains":"{\"inputChains\":{\"1\":\"all\",\"10\":\"all\",\"56\":\"all\",\"100\":\"all\",\"137\":\"all\",\"146\":\"all\",\"747\":\"all\",\"999\":\"all\",\"1329\":\"all\",\"1514\":\"all\",\"2741\":\"all\",\"5000\":\"all\",\"8453\":\"all\",\"9745\":\"all\",\"32769\":\"all\",\"42161\":\"all\",\"43114\":\"all\",\"50104\":\"all\",\"59144\":\"all\",\"60808\":\"all\",\"80094\":\"all\",\"999999\":\"all\",\"7565164\":\"all\",\"245022934\":\"all\",\"728126428\":\"all\"},\"outputChains\":{\"1\":\"all\",\"10\":\"all\",\"56\":\"all\",\"100\":\"all\",\"137\":\"all\",\"146\":\"all\",\"747\":\"all\",\"999\":\"all\",\"1329\":\"all\",\"1514\":\"all\",\"2741\":\"all\",\"5000\":\"all\",\"8453\":\"all\",\"9745\":\"all\",\"32769\":\"all\",\"42161\":\"all\",\"43114\":\"all\",\"50104\":\"all\",\"59144\":\"all\",\"60808\":\"all\",\"80094\":\"all\",\"999999\":\"all\",\"7565164\":\"all\",\"245022934\":\"all\",\"728126428\":\"all\"}}","inputChain":56,"outputChain":1,"inputCurrency":"","outputCurrency":"","address":"","showSwapTransfer":true,"amount":"","outputAmount":"","isAmountFromNotModifiable":false,"isAmountToNotModifiable":false,"lang":"en","mode":"deswap","isEnableCalldata":false,"styles":"e30=","theme":"dark","isHideLogo":false,"logo":"","disabledWallets":[],"disabledElements":[]}) 
</script>
      <span class="block mb-1 sm:hidden font-bold text-White-600">Less Risk. More Rewards.</span>
    Explore Over 30 Established and Emerging Protocols That Offer Staking Rewards. You’re not Just Staking, you’re Investing in the Future and Growth of Blockchain Ecosystems While Securing Your Digital Assets.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

 
  <!-- Attach the loading script in your <head /> -->
<script src='https://plugin.jup.ag/plugin-v1.js'></script>

<!-- Prepare a div in your <body> for Plugin to render -->
<!-- Adjust the width and height to suit your requirements -->
<div id="target-container" style="width: 400px; height: 568px;"></div>
</Layout>
