---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'LION Coin | Stake and Earn',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=678722bd9c2b8a0012e6c83d&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Buy SAKA Coin',
        href: 'https://jup.ag/swap/So11111111111111111111111111111111111111112-E1A8fodWDCfjkDqyr21LSCCkoShRYjDpDuWu2uE5gTMA',
        target: '_blank',
        icon: 'tabler:shopping-bag',
      },
      { text: 'Stake SAKA & Earn', href:'https://m3m3.meteora.ag/farms/51dNBfNBEzGNbMMWhwYR1af1rC1RpFj5qMzPWEEpQD7W' },
    ]}
    
  >
    <Fragment slot="title">
      MEME Coin,<span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight"> </span> Stake & Earn
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">SAKA Coin</span> transform the memecoin from pvp race to dump – to PPP race to stake.</span
      >
      <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script><dotlottie-player src="https://lottie.host/c5709a91-d67c-4543-9eae-c80890ec1c69/Tnn7iXcj7z.lottie" background="transparent" speed="1" style="width: 100%; height: 500px" direction="1" playMode="normal" loop autoplay></dotlottie-player>
      
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
      Mint Your MEME Coin So That You Can Enjoy lifetime Fees
    </Fragment>
    
  </Hero>

  <!-- Note Widget ******************* -->
    <script>
    (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();
  
    ChannelIO('boot', {
      "pluginKey": "b0c0251e-4b82-4b04-bc73-45c501098517"
    });
  </script>
</Layout>
