---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Digital Asset Staking | Validator & Delegate Crypto',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=68d49ea1eaff2dd921be37d2&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

   <Hero
    tagline="Staking Platform"
    title="Crypto Staking"
    subtitle="Staking is earning rewards by putting your crypto to work on a blockchain network, helping it run smoothly and securely. It's a way to grow your crypto.)"
    actions={[
      
     ]}
   
  />
       <CallToAction
    actions={[
   
    ]}
  >
    <Fragment slot="title">
  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a><span class="trademark"> </span></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "Bitcoin"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "Ethereum"
    },
    {
      "proName": "DELTAIN:SOLUSD.P",
      "title": ""
    },
    {
      "proName": "BINANCE:BNBUSDC",
      "title": ""
    },
    {
      "proName": "MEXC:ATOMUSDT",
      "title": ""
    },
    {
      "proName": "COINBASE:AVAXUSD",
      "title": ""
    },
    {
      "proName": "BINANCE:TRXUSDC",
      "title": ""
    },
    {
      "proName": "BINANCE:WLFIUSDT",
      "title": ""
    },
    {
      "proName": "COINBASE:XTZUSD",
      "title": ""
    },
    {
      "proName": "COINBASE:CBETHUSDC",
      "title": ""
    }
  ],
  "colorTheme": "dark",
  "locale": "en",
  "largeChartUrl": "",
  "isTransparent": false,
  "showSymbolLogo": true,
  "displayMode": "compact"
}
  </script>
</div>
<!-- TradingView Widget END -->
    </Fragment>

    <Fragment slot="subtitle">
  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a><span class="trademark"> </span>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
  {
  "defaultColumn": "overview",
  "screener_type": "crypto_mkt",
  "displayCurrency": "USD",
  "colorTheme": "dark",
  "isTransparent": false,
  "locale": "en",
  "width": "100%",
  "height": 550
}
  </script>
</div>
<!-- TradingView Widget END -->
  </Fragment>
  </CallToAction>

  <Hero
    actions={[
      
      { text: 'Exchange', href: '/buy', icon: 'tabler:coin' },
      { text: 'Earning', href: ' https://app.exsatbank.com?referral=t3b9hxd3xn', icon: 'tabler:coin' },
      { text: 'Staking', href: ' https://linktr.ee/reystaking', icon: 'tabler:brand-codesandbox' },
      { text: 'Markets', href: '/market', icon: 'tabler:ad-2' },
    ]}
   />
<!-- Note Widget ******************* -->
 <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "a8344e9b-518e-4fee-a6bc-03de316c2c1b"
  });
</script>
</Layout>
